.nav_div {
  box-shadow: 0 0 4px rgb(0 0 0 / 40%);
  position: sticky;
  top: 0;
  z-index: 8;
  height: 9vh;
  /* overflow: hidden; */
  background-color: white;
  display: flex;
  /* position: relative; */
}
.shopflix_icon {
  font-size: 2rem;
  color: #ff3f6c;
  margin-top: 1rem;
}
.icon_name {
  display: flex;
  margin-top: -0.5rem;
  margin-left: 3rem;
}

.badge-no {
  position: absolute;
  margin-left: -5px;
  margin-top: 8px;
  margin-right: 10px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  background-color: #ff3f6c;
  width: 55%;
  text-align: center;
  color: white;
  /* height: 18px; */
}
.leftBar_button {
  background-color: white;
  border: 0;
  margin-left: -2rem;
  cursor: pointer;
}
@media only screen and (min-width: 600px) {
  .leftBar_button {
    display: none;
  }
  .wish_icon_right {
    margin-right: 1rem;
    position: relative;
  }
  .nav_right_icons {
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 3rem;
  }
}
@media only screen and (max-width: 600px) {
  .nav_right_icons {
    margin-left: 2rem;
  }
  .wish_icon_right {
    margin-right: 1rem;
    position: relative;
  }
  .nav_right_icons {
    display: flex;
    position: absolute;
    right: 0;
   
    margin: 0;
    margin-top: 1rem;
 
    margin-right: 0.5rem;
  }
   .leftBar_button {
    margin-left: -3rem;
  } 
}

