.addressScreen {
  max-width: 400px;
  padding: 70px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 4px rgb(0 0 0 / 20%);
  background-color: white;
  margin-top: 2rem;
  box-shadow: 0 0 4px rgb(0 0 0 / 15%);
}
.addressScreen > form > input {
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  width: 90%;
  color: black;
  border: 1px solid #b6b6b6;
  border: 1px solid blue;
}
@media only screen and (max-width: 600px) {
  .addressScreen {
    /* width: 100%; */
    padding: 30px;
    /* margin-left: 1rem; */
    /* margin-right: -2rem; */
  
    background-color: white;
  }
  .userContent {
    font-size: 17px;
  }
}
.md_div {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.plus_iconify {
  font-size: 6rem;
  color: #b6b6b6;
}
  
@media only screen and (min-width: 700px) {
  .add_screen {
    width: 100%;
    max-width: 20%;
    margin-left: 10px;
    box-shadow: 0 0 4px rgb(0 0 0 / 15%);
  }
}
@media only screen and (max-width: 800px) {
  .add_screen {
    width: 100%;
    box-shadow: 0 0 4px rgb(0 0 0 / 15%);

  }
}
@media (max-width: 1129px) and (min-width: 700px) {
  .add_screen {
    width: 100%;
    max-width: 30%;
    margin-left: 1px;
    box-shadow: 0 0 4px rgb(0 0 0 / 25%);
    
  }
}
.add_screen{
  max-width: 400px;
  padding: 70px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: 2rem;
  box-shadow: 0 0 4px rgb(0 0 0 / 25%);
}
.md_div > div{
  margin-top: 1rem;
}