.product-detail-card {
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0.8rem;
  background-color: white;
}
.product-detail-img {
  width: 100%;
}
.btn_color {
  background-color: #ff3f6c;
  color: white;
  width: 50%;
  margin-bottom: 10px;
  border: 0;
  border-radius: 7px;
  margin-left: 10px;

  font-weight: bold;
  margin-right: 20px;
}
.wish_color {
  background-color: #ffffff;
  color: white;
  width: 50%;
  margin-bottom: 10px;
  border: 0;
  padding: 1rem;
  border-radius: 7px;
  border: 1px solid #d4d5d9;
  color: #3e4152;

  font-weight: bold;
}
.cart_wish_btn {
  display: flex;
  justify-content: space-around;

  width: 100%;
  overflow: hidden;
  z-index: 1;
  background-color: white;
  margin-top: 1rem;
}
.icon_product_detail {
  margin-right: 0.5rem;
}
@media screen and (max-width: 800px) {
  .product-detail-card {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    background-color: white;
  }
  .bank_tags {
    display: flex;
    margin-top: 1rem;
  }
  .bank_offer_text {
    font-size: 15px;
    margin-left: 2px;
  }
  .product-detail-addtocart {
    width: 100%;
  }
  .name_text {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 20px;
  }
  .description {
    font-size: 14px;
    margin-bottom: 1rem;
    color: #6b7280;
  }
  .mrp-slashed {
    font-size: 15px;
    font-weight: 400;
  }
  .available_offer {
    margin-top: 1rem;
  }
}
@media only screen and (min-width: 800px) {
  .product-detail-card {
    padding: 1rem;
  }
  .product-detail-img {
    width: 100%;
    max-width: 530px;
  }
  .image-detail-div {
    width: 50%;
    background-color: white;

    display: flex;
    justify-content: center;
  }
  .product_details_div {
    width: 50%;
    overflow: hidden;
  }
  .product-detail-addtocart {
    bottom: 0;
    margin-bottom: 10px;
    width: 50%;
  }
  .detail_div_product {
    position: aboslute;
    margin-left: 1rem;
  }
  .bank_offer_text {
    font-size: 15px;
    margin-left: 2px;
    margin-top: 8px;
  }
  .bank_tags {
    display: flex;
    margin-top: 1rem;
  }
  .name_text {
    font-weight: bold;
    text-transform: uppercase;

    font-size: 25px;
  }
  .description {
    font-size: 20px;
    margin-bottom: 1rem;
    color: #6b7280;
  }
  .available_offer {
    margin-top: 1rem;
  }
  .tt_price {
    font-size: 25px;
  }
  .mrp-slashed {
    font-size: 15px;
    font-weight: 400;
  }
}
.size_btn {
  margin: 10px 10px 10px 0;
  background-color: #fff;
  border: 1px solid #bfc0c6;
  border-radius: 50px;
  padding: 0;
  min-width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  color: #282c3f;
  -webkit-box-flex: 0;
  font-weight: bold;
}
.pd_detail {
  font-size: 15px;
  color: #6b7280;
  margin-top: 1rem;
}
.pd_img {
  width: 100%;
}
