.add-to-chart-btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wish-btn {
  background: none;
  border-radius: 0;
}
.iconifyicon {
  font-size: 2rem;
  color: #ff3f6c;
}
.typesof-card-content {
  width: 100%;
  padding: 0.7rem;
  border: 0;
}
.cartIcon {
  font-size: 1rem;
  margin: 0;
  margin-left: 1rem;
  margin-bottom: -4px;
}
@media only screen and (max-width: 600px) {
  .typesof-card-content {
    width: 49.3%;
    padding: 0;
    margin: 0;
    margin-left: 1px;
    border-right: 0.5px solid #d4d5d9;
    border-bottom: 0.5px solid #d4d5d9;
    font-size: 1px;
  }
  .product-container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .btn_hide {
    display: none;
  }

}
@media only screen and (min-width: 800px) {
  .product-container {
    width: 100%;
    /* margin: auto; */
    /* margin-left: 11rem; */
  }
  .cart {
    margin: 0;
    padding: 0;
    margin-left: 3rem;
    margin-bottom: 1rem;
  }
}
.discount-text {
  color: #ff3f6c;
}
.btn-wish {
  position: absolute;
  right: 0;
  bottom: -16rem;
}
.wishIcon {
  font-size: 1.5rem;
  color: gray;
  margin-top: 5px;
}
.add-to-chart-btn {
  /* background-color: #ff3f6c; */
  border-radius: 0;
  width: 100%;
  margin-top: 1rem;
  /* border: #ff3f6c; */
  color: black;
  /* border: 1px solid #ff3f6c; */
  background-color: white;
  box-shadow: 0 0px 5px 0 rgb(0 0 0 / 9%);
}
.wishClick_btn {
  background: none;
  border: 0;
  cursor: pointer;
}
.wish_head {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
}

/* .add-to-chart-btn {
  background-color: #ff3f6c;
  color: white;
  width: 100%;
  margin-bottom: 10px;
  border: 0;
  border-radius: 7px;
} */
.btn_hide {
  visibility: hidden;
}
