.trollyimage {
  width: 300px;
  height: 300px;
}
.main_products {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto;
  margin-top: 1rem;
}
.incBtn {
  width: auto;
  background-color: #ff3f6c;
  color: white;
  border: 0;
  border-radius: 7px;
  font-weight: bold;
}
.place-order-btn {
  background-color: #ff3f6c;
  margin-top: 1rem;
}
.checkout {
  background-color: white;
  overflow: hidden;
}
.place-order-prices-div {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.place-order-prices-div > div {
  font-size: 15px;
}
.total_price {
  font-weight: 800;
}

.product_img {
  width: 100%;
  max-width: 230px;
}
.details_div {
  width: 50%;
  margin-left: 1rem;
}
@media only screen and (min-width: 700px) {
  .horizontalcard {
    width: 90%;
    color: black;
    position: relative;
    display: flex;
    padding: 1rem;
    box-shadow: 0 0 4px rgb(0 0 0 / 20%);
    margin-bottom: 1rem;
    background-color: white;
  }
}
@media only screen and (max-width: 900px){
  .main_products {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .checkout {
    overflow: hidden;
    width: 88%;
    background-color: white;
    margin: 0;
    margin-top: 1rem;
    box-shadow: 0 0 4px rgb(0 0 0 / 10%);
    padding:1.5rem
  }
  .horizontalcard {
    padding: 0.5rem;
    max-width: 100%;
    color: black;
    position: relative;
    display: flex;
    overflow: hidden;
    padding: 1rem;
    box-shadow: 0 0 4px rgb(0 0 0 / 20%);
    margin-bottom: 1rem;
    margin-left: 0rem;
    background-color: white;
  }
}
@media only screen and (max-width: 800px) {
  .main_products {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .checkout {
    padding: 2rem;
    overflow: hidden;
    width: 85%;
    background-color: white;
    margin: 0;
    margin-top: 1rem;
    box-shadow: 0 0 4px rgb(0 0 0 / 10%);
}
  .horizontalcard {
    padding: 0.5rem;
    max-width: 93%;
    color: black;
    position: relative;
    display: flex;
    overflow: hidden;
    padding: 1rem;
    box-shadow: 0 0 4px rgb(0 0 0 / 20%);
    margin-bottom: 1rem;
    margin-left: 0rem;
    background-color: white;
  }
}
@media only screen and (max-width: 500px){
 
  .product_img{
    margin-top: 1rem;
  }
}